<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/header :: common-header" />
  <body>
  
	 <section>
	 	<div class="container" th:replace="common/navbar :: common-navbar" ></div> 	
	 </section>
  
	<section>
		<div class="container">
		    <h1>Hello, Spring Boot world!</h1>
		    <p>Testing hot deploy...</p>
		    <p>Testing hot deploy again...</p>
		    <p>It works!</p>
		    <p>How to enable hot deploy on STS:</p>
		    <ul>
		    	<li>Add <a href="https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html">devtools</a></li>
		    	<li>Set spring.thymeleaf.cache to false</li>
		    </ul>
		    <h3>Testing Bootstrap</h3>
		    <div class="container">
		    	<div class="row">
		    		<div class="col-sm-6">Col A</div>
		    		<div class="col-sm-6">Col B</div>
		    	</div>
		    </div>	
		</div>
	</section>

	<div th:replace="common/header :: before-body-scripts" ></div>

  </body>
</html>